.home {
  margin: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

.clear {
  clear: both;
}
.container {
  width: 100%;
  margin: 0 auto;
}

.head {
  position: fixed;
  height: 12vh;
  font-family: Arial, Helvetica, sans-serif;
  background: transparent;
}
.header-link {
  text-decoration: none !important;
  color: #ffff !important;
}
.button {
  border-radius: 4px;
  background-color: #003049;
  border: none;
  color: #ffffff;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.btn-b{
  background: transparent !important;
  color: #001233 !important;
}

.button .ani {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button .ani:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.4s;
}

.button:hover{
  color: #9b2226 !important;
}
.button:hover .ani {
  padding-right: 25px;
  color: #9b2226 !important;
}

.button:hover .ani:after {
  opacity: 1;
  right: 0;
}

.bar {
  /* position: fixed; */
  margin-top:12vh;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 1;
  /* background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; */
}


.nav-links {
  text-decoration: none !important;
  color: #001233 !important;
}
.nav-links:hover {
  color: #9b2226 !important;
}

.active {
  background-color: white;
}
.active .nav-links {
  color: #001233;
}
.scroll {
    background-image: linear-gradient(to right, #8ecae6, #0096c7);
    background-image: -o-linear-gradient(right, #457b9d, #0096c7);
    background-image: -moz-linear-gradient(right, #8ecae6, #ffff);
    background-image: -webkit-linear-gradient(left, #f6f8fa, #003049);
}

.logo {
  background-image: url(../assets//uploaded-files/bg-image/departmentLogo.png);
}
#headScrollingDropdown{
  color:#001233 ;
  font-family: Arial, Helvetica, sans-serif ;

}
.head-dropdown{
  margin-top: 40%;
  
}


#navbarScrollingDropdown {
  color: #001233;
}
#navbarScrollingDropdown:hover {
  color: #9b2226;
}
.active #navbarScrollingDropdown {
  color: #457b9d;
}

.active #navbarScrollingDropdown:hover {
  color: #9b2226;
}
.active .nav-links:hover {
  color: #9b2226;
}
.s-one {
  position: relative;
  height: 90vh;
}

.img {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../assets//uploaded-files/bg-image/backGround.jpg);
  /* filter: blur(3px);
    -webkit-filter: blur(2px); */
  /* background-color: #f6f8fa;
  background-blend-mode: multiply; */
  background-attachment: fixed;
}
.s-tow {
  margin: 0%;
  background-color: #bcb8b1;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1%;
}

.news-section{
  padding: 2%;
  height: auto;
}
.events-section{
  background-color: #003049;
  padding: 2%;
  height: auto;
}

.card-hight{
  height: 65vh;
}

.img-h{
  height: 40vh;
}
.body-h{
  height: 25vh;
}

.academic-section{
  padding: 2%;
}

.about-h {
  font-size: 55px;
  /* width: auto; */
  font-weight: 900;
  padding-top: 2%;
  color: #001233;
}
.about-b {
  color: #003049;
  padding-bottom: 2%;
}
.footer {
  margin: 0%;
}
.f-one {
  background-color: #001233;
}

.icon {
  color: aliceblue;
  padding: 2%;
  background-color: #003049;
}
.icon:hover {
  color: #9b2226;
}
.contact {
  text-align: left;
  margin-left: 4%;
  color: #457b9d;
  font-family: Arial, Helvetica, sans-serif;
}
.adress {
  margin-right: 4%;
  text-align: start;
  color: #457b9d;
  font-family: Arial, Helvetica, sans-serif;
}
.rights {
  background-color: #003049;
  color: #001233;
  padding-top: 1.5%;
}

.courses-menu{
  background-color: #001233;
}

/* .sidebar {
  width: 22%;
  z-index: 1;
 
 
} */


.menu{
  width: auto;
}


.sidebar a:hover {
  color: #9b2226;
}


.admin-page{
  font-family:Arial, Helvetica, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /* height: auto !important; */
  /* -webkit-filter: grayscale(100%);
  filter: grayscale(100%); */
  /* filter: blur(2px);
  -webkit-filter: blur(2px); */
  background-image: url(../assets//uploaded-files/bg-image/backGround.jpg);
  background-color: #bcb8b1;
  background-blend-mode: multiply;
}

.bg-text{
  background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    padding: 1%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 50%;
    font-size:50px;
    text-align: center;
    /* height: auto !important; */
    overflow-x: auto !important;
    /* margin-top: 14% ; */
}

.admin-tables{
  text-decoration: none !important;
  color: #001233;
  font-family: Arial, Helvetica, sans-serif;
}

.admin-tables:hover{
  color: #003049;
}
.sbe{
  font-size: 70px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}



.sidenav {
  height: 100%;
  width: 320px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  border-radius: 5%;
  background-color:white;
  overflow-x: hidden;
  padding-top: 100px;
  padding-left: 1%;
  font-size:xx-large;
  box-shadow: 7px 8px 5px 0px rgba(2, 9, 73, 0.2) !important;

}


.sbar-links{
  text-decoration: none;
  color:#001233;
  /* font-weight:lighter; */
  font-weight:300;
  font-size: 22px !important;

}
.sbar-links:hover{
  color: #9b2226;
}

.main-a{
  height: 100%;
  margin-left: 320px; 
  padding: 0px 10px;
  background-image: url(../assets/uploaded-files/bg-image/backGround.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  /* background-position: center; */

}

.bg{
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
.main {
  margin-left: 320px; 
  padding: 0px 10px;
  background-image: url(../assets/uploaded-files/bg-image/backGround.jpg);
  height: 100%;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:bottom;  
  
}




/* .fix{
height: 100vh;
} */

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}
/* @media (min-width: 1200px) { 
  .fix{
  }
} */
  
.margin-bottom{
  margin-bottom: 100%;
}
